.hover-effects {
    position: relative;
}

.hover-effects:hover::after {
    top: 60px;
    left: 30px;
    width: 100px;
    height: 100px;
    content: "";
    position: absolute;
    filter: blur(60px);
    background: radial-gradient(circle, #9ceef9d2, transparent 90%);
}
.pricing-hvr-effects{
    position: relative;
}
.pricing-hvr-effects:hover::before{
    top: 100px;
    left: 100px;
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    filter: blur(60px);
    background: radial-gradient(circle, #9ceef9d2, transparent 80%);
}
.awesome-effects{
    position: relative;
}
.awesome-effects:hover::before{
    right: 80px;
    position: absolute;
    content: "";
    width: 800px;
    height: 30px;
    filter: blur(60px);
    background: radial-gradient(circle, #9ceef9d2, transparent 80%);
}
footer{
    position: relative; 
}
.footer-effet{
    top: 100px;
    right: 80px;
    position: absolute;
    content: "";
    width: 100%;
    height: 100px;
    filter: blur(60px);
    background: radial-gradient(circle, #9ceef94e, transparent 90%);
}
@media(max-width: 768px){
    .awesome-effects:hover::before{
        left: -250px;
        top: 170px;

    }
}